# C/C++ compiled
*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.exe

# Qt-es
/.qmake.cache
/.qmake.stash
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator
*.autosave
*.pro.user*
CMakeLists.txt.user*

# temporary files
*~
.*.swp
*.orig
*.rej
*.core
.#*
*.*#
.DS_Store
Thumbs.db

# Python byte code
*.pyc

# folders
build/

# custom
test/*.o
test/test
